<a *ngIf="deviceDetector.isDesktop()" mat-raised-button href="https://www.workingsoftware.dev/what-is-ngrx-and-why-is-it-used-in-angular/" target="_blank">🔎 Blog Post: What is NgRx and why is it used in Angular apps? <mat-icon>open_in_new</mat-icon></a>
<a *ngIf="deviceDetector.isMobile()" mat-raised-button href="https://www.workingsoftware.dev/what-is-ngrx-and-why-is-it-used-in-angular/" target="_blank">🔎 Blog Post: Why is NgRx used in Angular apps? <mat-icon>open_in_new</mat-icon></a>

<mat-sidenav-container class="container" autosize>
  <mat-sidenav #sidenav fixedTopGap="50" fixedBottomGap="" fixedInViewport="true" [opened]="false" [mode]="deviceDetector.isMobile() ? 'over': 'side'">
    <app-cart (closeEvent)="sidenav.close()"></app-cart>
  </mat-sidenav>
  <mat-sidenav-container class="sidenav-content">
    <button mat-raised-button [matBadge]="(numberOfCartItems$ | async)" matBadgePosition="after" matBadgeColor="accent" (click)="sidenav.opened ? sidenav.close() : sidenav.open()">
      {{sidenav.opened ? 'Close' : 'Open'}} Cart
    <mat-icon>shopping_cart</mat-icon></button>
    <app-item-list (itemAddedEvent)="onItemAdded($event, sidenav)"></app-item-list>
  </mat-sidenav-container>
</mat-sidenav-container>
