<a mat-raised-button href="https://www.workingsoftware.dev/what-is-ngrx-and-why-is-it-used-in-angular/" target="_blank">🔎 Blog Post: What is NgRx and why is it used in Angular apps? <mat-icon>open_in_new</mat-icon></a>

<mat-drawer-container class="container" autosize>
  <mat-drawer class="sidenav" mode="side" position="end" opened="true" disableClose="true">
    <app-cart></app-cart>
  </mat-drawer>
  <div class="sidenav-content">
    <app-item-list></app-item-list>
  </div>
</mat-drawer-container>
