
mat-drawer-content {
  min-width: 400px;
  padding: 20px 20px;
  background-color: whitesmoke;
}

mat-sidenav {
  border-style: solid;
  border-width: 1px;
  border-color: aliceblue;
  border-radius: 0 5px 5px 0;
  width: 300px;
  padding: 20px;
}

mat-drawer-container {
  margin-top: 30px;
}

a {
  width: 100%;
  height: 40px;
  background-color: cornsilk;
  position: fixed;
  top: 0;
  z-index: 9999;
}

button {
  margin: 55px 10px 20px;
  float: right;
}

app-cart, app-item-list {
  margin: 10%;
}